.acf-block-preview .mySwiperProducts {
    max-height: 435px !important;

    .swiper-slide {
        max-height: 435px !important;
        max-width: 320px !important;
    }

    .slide-item {
        max-height: 435px !important;
        max-width: 290px !important;
    }
}