.variations {
    .label {
        display: none !important;
    }

    .reset_variations {
        display: none !important;
    }
}

.wvs-style-rounded {
    margin-top: 0px !important;
    margin-bottom: 10px !important;

    li {
        color: #525252 !important;
        height: 40px !important;
        width: 40px !important;
        margin: 0px !important;
        margin-right: 20px !important;
        box-shadow: var(--wvs-item-box-shadow, 0 0 0 1px #e5e5e5) !important;
        font-family: "Plus Jakarta Sans", sans-serif !important;
        font-size: 14px !important;

        &.selected {
            box-shadow: var(--wvs-item-box-shadow, 0 0 0 1px #e5e5e5) !important;
            background: #e5e5e5 !important;
        }

        &:focus {
            box-shadow: var(--wvs-item-box-shadow, 0 0 0 1px #e5e5e5) !important;
        }

        &:hover {
            box-shadow: var(--wvs-item-box-shadow, 0 0 0 1px #e5e5e5) !important;
        }
    }
}


// CART

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: 100% !important;
}

button.update-cart {
    position: absolute !important;
    font-size: 15px !important;
    line-height: 29px !important;

    padding: 0px !important;
    font-weight: 400 !important;
    border-radius: 0px !important;
    color: #525252 !important;
    background-color: transparent !important;
    border: 0 !important;
    display: flex !important;

}

.woocommerce .quantity .qty {
    width: 50px !important;
    margin-left: 10px !important;
}

.woocommerce-remove-coupon {
    display: none !important;
}

.woocommerce table.shop_table {
    border: 0px solid rgba(0, 0, 0, .1) !important;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;

    tr {
        border: 0px !important;
    }

    th,
    td {
        border-top: 0px !important;
        padding: 0px !important;
        font-weight: 400 !important;
        font-size: 15px !important;
        line-height: 30px !important;
        color: #525252 !important;
    }

    td {
        text-align: right !important;
    }

    .order-total td,
    .order-total th,
    .order-total td::before {
        font-weight: 700 !important;
    }

    strong {
        font-weight: 700 !important;
    }


}

.cart_totals h2 {
    display: none !important;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent !important;
}

.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
    font-weight: 400 !important;
}

.checkout-button {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    height: 52px !important;
    position: relative !important;
    align-content: center !important;
    align-items: center !important;
    border-radius: 99px !important;
    background-color: #5D7365 !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    -webkit-font-smoothing: unset !important;
}



// CHECKOUT

.custom-checkout {

    .woocommerce-billing-fields {


        #billing_first_name_field,
        #shipping_first_name_field {
            width: 100% !important;
            order: 1 !important;
        }

        #billing_last_name_field,
        #shipping_last_name_field {
            width: 100% !important;
            order: 2 !important;
        }

        #billing_phone_field,
        #shipping_phone_field {
            width: 100% !important;
            order: 3 !important;
        }

        #billing_email_field,
        #shipping_email_field {
            width: 100% !important;
            order: 4 !important;
        }

        #billing_country_field,
        #shipping_country_field {
            width: 100% !important;
            order: 5 !important;
            display: none !important;
        }


        #billing_address_1_field,
        #shipping_address_1_field {
            width: 100% !important;
            order: 6 !important;
        }

        #billing_postcode_field,
        #shipping_postcode_field {
            width: 100% !important;
            order: 7 !important;
        }

        #billing_city_field,
        #shipping_city_field {
            width: 100% !important;
            order: 8 !important;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 768px) {

            #billing_first_name_field,
            #shipping_first_name_field {
                width: 35% !important;
                order: 1 !important;
            }

            #billing_last_name_field,
            #shipping_last_name_field {
                width: 65% !important;
                order: 2 !important;
            }

            #billing_phone_field,
            #shipping_phone_field {
                width: 35% !important;
                order: 3 !important;
            }

            #billing_email_field,
            #shipping_email_field {
                width: 65% !important;
                order: 4 !important;
            }

            #billing_country_field,
            #shipping_country_field {
                width: 35% !important;
                order: 5 !important;
                display: none !important;
            }


            #billing_address_1_field,
            #shipping_address_1_field {
                width: 100% !important;
                order: 6 !important;
            }

            #billing_postcode_field,
            #shipping_postcode_field {
                width: 20% !important;
                order: 7 !important;
            }

            #billing_city_field,
            #shipping_city_field {
                width: 80% !important;
                order: 8 !important;
            }
        }


        #billing_company_field,
        #billing_address_2_field,
        #shipping_company_field,
        #shipping_address_2_field {
            display: none !important;
        }

        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-shipping-fields__field-wrapper {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
        }

        input {
            border: 1px solid #DEDEDE !important;
            height: 53px !important;
            padding-left: 10px !important;
            border-radius: 10px !important;
        }

        h3 {
            display: none !important;
        }



    }

    .woocommerce-form__label-for-checkbox {
        width: 100% !important;
        cursor: pointer;
    }

    .wc_payment_method label img {
        display: none !important;
    }

    li.wc_payment_method {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #add_payment_method #payment div.payment_box,
    .woocommerce-cart #payment div.payment_box,
    .woocommerce-checkout #payment div.payment_box {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        margin-top: 0px !important;
        margin-bottom: 15px !important;
        font-size: .92em;
        border-radius: 2px;
        line-height: 1.5;
        background-color: #fff !important;
        color: #000 !important;
        margin-left: 13px !important;
    }

    #add_payment_method #payment ul.payment_methods li,
    .woocommerce-cart #payment ul.payment_methods li,
    .woocommerce-checkout #payment ul.payment_methods li {
        line-height: 2.2 !important;
        text-align: left;
        margin: 0;
        font-family: Plus Jakarta Sans, sans-serif;
        font-weight: 400
    }

    .payment_box select {
        height: 52px !important;
        border: 1px solid #DEDEDE !important;
        min-width: 306px !important;
        margin-top: 10px !important;
    }

    #add_payment_method #payment div.payment_box::before,
    .woocommerce-cart #payment div.payment_box::before,
    .woocommerce-checkout #payment div.payment_box::before {
        display: none !important;
    }

    #billing_address_1::placeholder,
    #shipping_address_1::placeholder {
        font-size: 0 !important;
    }

    .woocommerce-form-coupon-toggle {
        display: none !important;
    }

    .korting .woocommerce-form-coupon-toggle {
        display: flex !important;
    }

    .notice .woocommerce-notices-wrapper {
        display: none !important;
    }

    .notice .woocommerce-form-coupon {
        display: none !important;
    }

    .korting {

        .woocommerce-error,
        .woocommerce-info,
        .woocommerce-message {
            padding: 0px !important;
            margin: 0px !important;
            position: relative;
            background-color: #fff !important;
            color: #2B2828 !important;
            border-top: 0px solid #7f54b3 !important;
            list-style: none outside;
            width: auto;
            word-wrap: break-word;
        }

        .woocommerce-error::before,
        .woocommerce-info::before,
        .woocommerce-message::before {
            display: none !important;
        }

        .woocommerce form.checkout_coupon,
        .woocommerce form.login,
        .woocommerce form.register {
            border: 0px solid #cfc8d8 !important;
            padding: 0px 0px !important;
            margin: 0px !important;
            text-align: left;
            border-radius: 0px !important;
        }
    }

    .woocommerce-error {
        display: none !important;
    }

    * {
        font-family: Plus Jakarta Sans, sans-serif;
    }

    label {
        font-size: 13px !important;
        font-weight: 600 !important;
    }

    .woocommerce-checkout-review-order-table {
        display: none !important;
    }

    #add_payment_method #payment,
    .woocommerce-cart #payment,
    .woocommerce-checkout #payment {
        background: #fff !important;
        border-radius: 0px !important;
    }

    #add_payment_method #payment ul.payment_methods,
    .woocommerce-cart #payment ul.payment_methods,
    .woocommerce-checkout #payment ul.payment_methods {
        padding: 0px !important;
        border-bottom: 0px solid #cfc8d8 !important;
    }

    #add_payment_method #payment div.form-row,
    .woocommerce-cart #payment div.form-row,
    .woocommerce-checkout #payment div.form-row {
        padding: 0px !important;
    }

    .woocommerce-additional-fields {
        display: none !important;
    }

    #ship-to-different-address-checkbox {
        display: none !important;
    }

    #ship-to-different-address {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        &::after {
            content: "+";
        }
    }

    .woocommerce-shipping-fields {

        #billing_first_name_field,
        #shipping_first_name_field {
            width: 100% !important;
            order: 1 !important;
        }

        #billing_last_name_field,
        #shipping_last_name_field {
            width: 100% !important;
            order: 2 !important;
        }

        #billing_phone_field,
        #shipping_phone_field {
            width: 100% !important;
            order: 3 !important;
        }

        #billing_email_field,
        #shipping_email_field {
            width: 100% !important;
            order: 4 !important;
        }

        #billing_country_field,
        #shipping_country_field {
            width: 100% !important;
            order: 5 !important;
            display: none !important;
        }


        #billing_address_1_field,
        #shipping_address_1_field {
            width: 100% !important;
            order: 6 !important;
        }

        #billing_postcode_field,
        #shipping_postcode_field {
            width: 100% !important;
            order: 7 !important;
        }

        #billing_city_field,
        #shipping_city_field {
            width: 100% !important;
            order: 8 !important;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 768px) {

            #billing_first_name_field,
            #shipping_first_name_field {
                width: 35% !important;
                order: 1 !important;
            }

            #billing_last_name_field,
            #shipping_last_name_field {
                width: 65% !important;
                order: 2 !important;
            }

            #billing_phone_field,
            #shipping_phone_field {
                width: 35% !important;
                order: 3 !important;
            }

            #billing_email_field,
            #shipping_email_field {
                width: 65% !important;
                order: 4 !important;
            }

            #billing_country_field,
            #shipping_country_field {
                width: 35% !important;
                order: 5 !important;
                display: none !important;
            }


            #billing_address_1_field,
            #shipping_address_1_field {
                width: 100% !important;
                order: 6 !important;
            }

            #billing_postcode_field,
            #shipping_postcode_field {
                width: 20% !important;
                order: 7 !important;
            }

            #billing_city_field,
            #shipping_city_field {
                width: 80% !important;
                order: 8 !important;
            }
        }




        #billing_company_field,
        #billing_address_2_field,
        #shipping_company_field,
        #shipping_address_2_field {
            display: none !important;
        }

        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-shipping-fields__field-wrapper {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
        }

        input {
            border: 1px solid #DEDEDE !important;
            height: 53px !important;
            padding-left: 10px !important;
        }

        .shipping_address {
            margin-top: 10px;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
}

.woocommerce-checkout .custom-checkout {
    .custom-afrekenen {
        display: block !important;
    }

    .custom-bedankt {
        display: none !important;
    }
}

.woocommerce-checkout.woocommerce-order-received .custom-checkout {
    .custom-afrekenen {
        display: none !important;
    }

    .custom-bedankt {
        display: block !important;
    }
}

.woocommerce-result-count {
    display: none !important;
}


.wvs-style-rounded li:last-of-type {
    margin-right: 0px !important;
}

.woocommerce-message {
    border-top-color: transparent !important;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    padding: 10px 0px !important;
    position: relative;
    background-color: transparent !important;
    color: #515151;
    border-top: 0px solid transparent !important;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;

    max-width: 360px !important;
    margin-left: auto !important;
    margin-right: auto !important;


    // MD
    @media (min-width: 768px) {
        max-width: 691px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    // LG
    @media (min-width: 1200px) {
        max-width: 1110px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    // XL
    @media (min-width: 1352px) {
        max-width: 1250px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    a {
        display: none !important;
    }
}

.woocommerce-message::before {
    display: none !important;
}

.woocommerce-error::before {
    display: none !important;
}